.header {
    text-align: center;
    align-content: center;
}

.jumbotron {
        background-color: rgb(82, 3, 252);
}

.main-title {
	color: white;
}

.form {
    text-align: center;
    align-content: center;
}

.task {
    width: 75%;
    margin: 0 auto;
    float: none;
}